@keyframes blink {
  0% {
    border-color: #b4b4b4c4;
  }
  50% {
    border-color: #e400003e;
    background-color: #c2010126;
  }
  100% {
    border-color: #b4b4b4c4;
  }
}
.deleteImg {

  position: relative;
}

.modalContent {
  padding-top: 42px;
  padding-bottom: 42px;
  width: 370px;
  height: auto;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  display: flex;
  gap: 25px;
}

.modal_div {
  width: 370px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.modal_div_two{
  width: 370px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal_form_input {
  width: 270px;
  height: 40px;
  color: #878787;
  padding-left: 5px;
  border: 1px solid #d9d9d9;
  font-size: 18px;
  border: transparent;
  border-bottom: 1px solid #d9d9d9;
}
.modal_form_input::placeholder {
  color: #d9d9d9;
}

.modal_button {
  cursor: pointer;
  width: 280px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #009ee4;
  color: white;
  font-size: 18px;
  transition: all 0.3s;
}