@keyframes blink {
  0% {
    border-color: #b4b4b4c4;
  }
  50% {
    border-color: #e400003e;
    background-color: #c2010126;
  }
  100% {
    border-color: #b4b4b4c4;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  background-color: #009ee4;
  display: flex;
  justify-content: center;
}
.main_head {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1160px;
  gap: 10px;
}
.main_buttons {
  display: flex;
  gap: 10px;
}
.main_button {
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  width: 224px;
  height: 40px;
  line-height: 40px; /* Добавленное свойство для вертикального выравнивания */
  background-color: #009ee4;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  transition: all 0.3s;
  text-align: center; /* Уже было, повторение не нужно */
  text-decoration: none; /* Убрать подчеркивание */
}
.main_button_exit {
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  width: 124px;
  height: 40px;
  background-color: #009ee4;
  border: 1px dashed rgb(251, 198, 214);
  border-radius: 10px;
  color: rgb(251, 198, 214);
  font-size: 16px;
  transition: all 0.3s;
}
.main_button_exit:hover {
  background-color: rgba(251, 198, 214, 0.287);
  border: 1px dashed transparent;
  color: rgb(246, 212, 223);
}
.main_button:hover {
  background-color: #2eb3ec;
}

.modalOverlay {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Оверлей будет поверх основного контента */
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Модальное окно будет поверх оверлея */
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
